.car{
    background-color: aquamarine;
    padding: 1rem;
    width: 30rem;
    margin-left: 40rem;

    .cards{
        padding-left: 5rem;

        .Add{
            font-size: 3rem !important;
        }
    }
}